
<!--ADD ITEM SECTION-->
<!--<div class = "flex-container">
  <div class="flex-item-right">

<label for="new-item"> </label>
  <input id="new-item" #itemName />
  <button mat-flat-button class="add-button" title="Add" (click)="add(itemName.value); itemName.value=''">
    Add <mat-icon>add</mat-icon>
  </button>
</div>
</div>-->

<div class = "flex-container"> 

<div *ngFor="let item of items.slice(0)">
  <div class="flex-item-left">
  
  <!--ITEM-->
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{item.headline}}</mat-card-title>
      <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/{{item.image}}" alt="{{item.image}}">
    <mat-card-content>
      <p>
        {{item.image}}
      </p>
    </mat-card-content>
  </mat-card>

  <!--EDIT ITEM SECTION-->
  <a routerLink="detail/{{item.id}}">
    <button mat-flat-button title="Edit">
      Edit <mat-icon>edit</mat-icon>
    </button>
  </a>
  
  <!--DELETE ITEM SECTION-->
  <!--<a (click)="delete(item)">
    <button mat-flat-button title="Delete">
      Delete <mat-icon>delete</mat-icon>
    </button>
  </a>--> 

</div>
</div>




