.card {
  max-width: 300px;
  height: 375px;
  margin: 12px;
  text-align: left;
}
button {
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
} 
.row {  
  display: flex;
  max-width: 1200px; 
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  text-align: right;
}
.flex-item-left {
  padding: 10px;
  flex: 30%;
}
.flex-item-right {
  padding: 10px;
  flex: 100%;
  }

@media screen and (max-width: 400px) {
  .row, .navbar {   
    flex-direction: column;
  }
  }