.card {
  max-width: 300px;
  margin: 12px;
} 
.full-width {
  width: 280px;
}
label {
  color: #5c5c5c;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin: 10px 15px 20px 0;
  background-color: #f1f1f1;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  text-align: right;
}
