<mat-sidenav-container fullscreen>
      <mat-sidenav mode="side" #sidenav closed position="start">
        <mat-nav-list>
          <a mat-list-item routerLink="/home">Home</a>
          <a mat-list-item routerLink="/page">Page</a>
          <a mat-list-item routerLink="/email">Email</a>
          <a mat-list-item routerLink="/canvas">Canvas</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>

    <router-outlet></router-outlet>

      </mat-sidenav-content>
    </mat-sidenav-container>


<a routerLink="/home">
  <button mat-flat-button title="Home">
    Home
  </button>
</a>
<a routerLink="/page">
  <button mat-flat-button title="Page">
    Page
  </button>
</a>
<a routerLink="/email">
  <button mat-flat-button title="Email">
    Email
  </button>
</a>
<a routerLink="/canvas">
  <button mat-flat-button title="Canvas">
    Canvas
  </button>
</a>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->