
  <mat-sidenav-container>
      <mat-sidenav mode="side" #sidenav closed position="start">
        <!--nav-->
        <mat-nav-list>
          <a mat-list-item (click)="sidenav.close()" routerLink="/home">Home</a>
          <a mat-list-item (click)="sidenav.close()" routerLink="/page">Page</a>
          <a mat-list-item (click)="sidenav.close()" routerLink="/email">Email</a>
          <a mat-list-item (click)="sidenav.close()" routerLink="/canvas">Canvas</a>
        </mat-nav-list>
        <!--/nav-->
      </mat-sidenav>
      <mat-sidenav-content>
        <!--toolbar-->
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>
        <!--/toolbar-->
       <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
