mat-sidenav {
    width: 150px;
    padding:15px;
  }
  .mat-drawer { 
    background-color: #999;
    color:#fff
  }
  .main-content {
    padding:20px;
  }
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  h1 {
    letter-spacing: -1px;
    font: 300 40px/20px Roboto, sans-serif;
    color: #000;   
  }
  /*button {
    margin-left: 0px;
    margin-right: 5px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 500px;
    padding: 0 25px 0 25px;
  } */