

.items {
    display: inline-block;
    padding: 20px;
  }
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    text-align: right;
  }
  button {
    padding-right: 2px;
    background-color: #fff;
  } 
  .main-content {
    padding:20px;
    text-align: left;
  }
  img {
    padding-right: 40px;
  }
  h1 {
    letter-spacing: -1px;
    font: 300 36px/36px Roboto, sans-serif;
    color: #000;   
  }
