

<div *ngIf="item">
  <mat-card class="card">
    
  <h2>Page Details 
    <!--{{item.id}}-->
  </h2>

    <mat-form-field class="full-width">
      <mat-label>Headline</mat-label>
      <input matInput placeholder="Ex. Headline" [(ngModel)]="item.headline">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex. Description" [(ngModel)]="item.description">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Image</mat-label>
      <input matInput placeholder="Ex. waves.jpg" [(ngModel)]="item.image">
    </mat-form-field>

    <!--<mat-form-field class="full-width">
      <mat-label>url</mat-label>
      <input matInput placeholder="http://www.url.com" [(ngModel)]="item.url">
    </mat-form-field>-->

</mat-card>
<button mat-raised-button (click)="goBack()">Go Back </button>
<button mat-raised-button (click)="save()">Save <mat-icon>done</mat-icon></button>

</div>

