<div class="main-content">
  <p>Create proofs, make edits, get approvals and release code for all assets in one place.</p>
</div>

  <div class = "flex-container"> 
      
      <!--ITEM-->
      <mat-card class="card">
        <mat-card-header>
          <a mat-card-title routerLink="/home">Email</a>
          <a routerLink="/email">
            <span class="material-icons">
            arrow_forward
            </span>
          </a>
        </mat-card-header>
        <img mat-card-image src="./assets/images/email.png" alt="img" max-width="250px">
      </mat-card>

      <!--ITEM-->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Page</mat-card-title>
          <a routerLink="/page">
            <span class="material-icons">
            arrow_forward
            </span>
          </a>
        </mat-card-header>
        <img mat-card-image src="./assets/images/page.png" alt="img" max-width="250px">
      </mat-card>

      <!--ITEM-->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Canvas</mat-card-title>
          <a routerLink="/canvas">
            <span class="material-icons">
            arrow_forward
            </span>
          </a>
        </mat-card-header>
        <img mat-card-image src="./assets/images/canvas-retina.png" alt="img" max-width="250px">
      </mat-card>
  
  </div>